<div class="row card answer-card">
  <div class="card-header w-100">
    <h4>回答フォーム</h4>
  </div>
    
  <%= form_with(model: [@question, @answer], local: true, class: "w-100") do |f| %>
    <div class="form-group m-0">
      <%= f.text_area :content, class: "form-control", rows: 4 %>  
    </div>
      
    <%= f.submit "回答", class: "btn btn-block btn-dark" %>
  <% end %>
</div>