<div class="row card answer-card">
  <div class="card-header w-100">
    <h4>回答フォーム</h4>
  </div>
  <div class="card-body">
    <h2><%= link_to "ログインして回答しましょう", login_path, class: "link-color" %></h2>
  </div>
</div>