<div class="row mb-5">
  <div class="card top-card">
    <div class="card-header">
      <h1 class="text-center thin-text">投稿フォーム</h1>
    </div>
    <div class="card-body">
      <h2 class="text-center"><%= link_to "ログインして投稿しましょう", login_path %></h2>
    </div>
  </div>
</div>