<%= render "layouts/navbar_home" %>

<div class="container">
  <div class="row mx-1">
    <h2 class="tag-top-title">タグ</h2>
    <div class="tag-p">
      <% @tags.zip(@path) do |tag, pathkey| %>
        <div class="tags-tag">
          <h4 class="tags-tag-title"><%= link_to tag, eval("#{pathkey}_tags_path"), class: "tags-tag-title-txt link-color" %></h4>
          <div class="d-inline-block"><%= @questions.where(tag: tag).count %> 件</div>
        </div>
      <% end %>
    </div>
  </div>
</div>