/*show*/
.micropost-show-btn {
  padding: 10px 20px;
  border-bottom: 2px solid #000;
}

.show-micropost-title {
  width: 100%;
  border-bottom: 3px solid #343a40;
}

.show-micropost-content {
  padding: 28px 0px 16px;
  border-bottom: 1px solid #343a40;
}

/*new*/
.new-micropost-title {
  border-bottom: 3px solid #000;
  width: 100%;
}

.new-micropost-title-txt {
  /*color: black;*/
  font-size: 28px;
  font-weight: 600;
}

.new-micropost-title-txt:hover {
  text-decoration: none;
}

.new-micropost-content {
  padding: 20px 0 4px;
  width: 100%;
}

.new-micropost-time {
  margin-bottom: 24px;
  width: 100%;
}

.new-micropost {
  width: 100%;
  margin-bottom: 20px;
}
