h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  margin: 0;
}

.word-table {
  table-layout: fixed;
  word-wrap: break-word;
}

/*index*/

.thin-text {
  color: rgba(0, 0, 0, 0.7);
}

.reverse-color {
  color: white;
  background-color: #343a40;
  padding: 8px 32px;
  margin: 0;
}

.frame {
  border-left: 2px solid #343a40;
  border-right: 2px solid #343a40;
  border-bottom: 2px solid #343a40;
}

.toppage-question-title {
  padding: 24px 24px 4px;
}

.toppage-question-content {
  padding: 0px 24px 12px;
}

.pagination {
  justify-content: center;
  margin: 10px 0 0;
}

.page-item.active > .page-link {
  background-color: #343a40;
  border-color: #343a40;
  color: #fff !important;
}

.page-link:not(:disabled):not(.disabled) {
  color: #343a40;
}

/*show*/

.show-question-title {
  width: 100%;
  border-bottom: 4px solid #343a40;
  padding: 0 20px;
}

.show-question-name {
  margin-top: 16px;
  padding: 0 20px;
}

.show-question-content {
  padding: 24px 24px 20px;
  font-size: 20px;
  border-bottom: 4px double #343a40;
}

.show-question-tag {
  padding: 8px 20px 24px;
  border-bottom: 2px solid #343a40;
  margin-bottom: 40px;
}

.answer-card {
  margin-bottom: 50px;
}

.answer-title {
  padding: 0 0 8px 24px;
  border-bottom: 4px double #343a40;
  width: 100%;
}

.answer-content {
  padding: 20px 10px 4px;
  border-bottom: 3px solid #d1d1d1;
  margin-bottom: 10px;
}

.reply-frame {
  border-top: 2px solid #343a40;
  margin-bottom: 20px;
}

.answer-none {
  padding-left: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-default {
  padding: 0;
}

.fa-heart {
  color: #ffb6c1;
  font-size: 25px;
  padding: 0;
}

.relation {
  padding: 10px 24px;
  margin-bottom: 24px;
  border: 1px solid #343a40;
}

.relation-title {
  width: 100%;
  border-bottom: 1px solid #343a40;
}

.relation-title-txt {
  width: 100%;
  border-bottom: 1px solid #343a40;
  margin: 10px 0;
}