/*top*/
.clear {
  clear: both;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width:375px) {
  .top-messages-title {
    font-size: 36px;
  }
  
  .home-nav {
    width: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-around;  
  }
}

.micropost-bottom {
  color: white;
  background-color: #343a40;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.micropost-bottom:hover {
  color: #ccc;
  text-decoration: none;
}

.top-micropost-block {
  padding: 20px 10px;
  border-bottom: 2px solid #343a40;
}

.top-micropost-title {
  border-bottom: 1px solid #343a40;
}

.top-micropost-content {
  padding: 10px 0 10px;
}



/*ranking*/

.rank-title {
  text-align: center;
  margin-bottom: 12px;
}

.rank-border {
  padding: 20px;
  margin-bottom: 30px;
}

.rank-nonber {
  border-bottom: 2px solid #000;
  padding-top: 12px;
  margin-right:24px;
  margin-left: 24px;
}

.rank-p {
  padding: 0px 24px 12px;
}

.rank-title-txt {
  font-size: 24px;
  /*color: black;*/
}

.rank-font {
  font-size: 20px;
}

.rank-title-txt:hover {
  text-decoration: none;
}
