<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <%= link_to "Failures", root_path, class: "navbar-brand ml-sm-4 logo" %>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% unless logged_in? %>
          <li class="nav-item"><%= link_to "新規登録", signup_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>